<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<div id="wt_twitter">
		<f:flashMessages />
		<ul class="wttwitter_feed" style="list-style-type: none;">
			<f:if condition="{0: settings.mode} == {0: 'showOwn'}">
				<f:then>
					<f:render partial="Tweets/Show" arguments="{tweets: tweets}" />
				</f:then>
			</f:if>
			<f:if condition="{0: settings.mode} == {0: 'showFromSearch'}">
				<f:then>
					<f:render partial="Tweets/Show" arguments="{tweets: tweets}" />
				</f:then>
			</f:if>
			<f:if condition="{0: settings.mode} == {0: 'showListsFrom'}">
				<f:then>
					<f:render partial="Lists/Show" arguments="{lists: tweets}" />
				</f:then>
			</f:if>
			<f:if condition="{0: settings.mode} == {0: 'showListsFor'}">
				<f:then>
					<f:render partial="Lists/Show" arguments="{lists: tweets}" />
				</f:then>
			</f:if>
		</ul>
	</div>
</f:section>

</html>